%fieldset.inputs
  %legend= t('basic_information')
  = f.input :first_name
  = f.input :last_name
  - unless ENV['DISABLE_FRAB_GENDER_FIELD'].present?
    = f.input :gender, collection: translated_options(Person::GENDERS)
